<% @slide = Session.where(:access_code == session[:presentation_access_code]).first.presentation.slides.where(:slide_number == session[:slide_number]).first %>

<section class="swag text-center">
  <div class="container">
      <div class="row">
         <div class="col-md-8 col-md-offset-2">
             <h1><%= 'Ballot Box' %> <span></span></h1>
         </div>
      </div>
  </div>
</section>
 <section class="intro text-center section-padding" id="intro">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 wp1">
                <h1 class="arrow">Best Slide Ever!</h1>
                <p><%= @slide.content %></p>
              </div>
            </div>
         </div>
  </section>

<div class="ignite-cta text-center">
  <div class="container">
      <div class="row">
         <div class="col-md-12">
           <a href="/present/<%= session[:presentation_access_code] %>/next" class="ignite-btn">Next</a>
         </div>
     </div>
  </div>
</div>
 <section class="intro text-center section-padding" id="intro">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 wp1">
                <h1 class="arrow">Questions</h1>
                  <form action="/present/56469/:slide_number/vote/:survey_option" method="post">
                    <label>A: dklajdkjsad</label><br />
                    <input type="radio" name="option1" /><br />
                    <label>B: oiuoidas</label><br />
                    <input type="radio" name="option2" /><br />
                    <label>C: hodiajidlja</label><br />
                    <input type="radio" name="option3" /><br />
                    <button type="submit">Submit</button>
                  </form>
                </div>
            </div>
         </div>
  </section>
<div class="ignite-cta text-center">
  <div class="container">
      <div class="row">
         <div class="col-md-12">
           <a href="/feedback" class="ignite-btn">Result</a>
         </div>
     </div>
  </div>
</div>