
<% session.clear %>
<header id="home">
  <section class="hero" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right navicon">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <h1 class="animated fadeInDown">BALLOT<span>BOX</span></h1>
          <p class="animated fadeInUp delay-05s"><em>Dave Hyatt</em> | <em>Ting Chang</em> | <em>Natasha Angelica</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <a href="/go_to/present/56469" class="learn-more-btn">Start the Presentation</a>
        </div>
      </div>
    </div>
  </section>
</header>
<section class="intro text-center section-padding" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wp1">
        <h1 class="arrow">Welcome</h1>
        <p>Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent id tempor ipsum. Fusce at massa ac nunc porta fringilla sed eget neque. Quisque quis pretium nulla. Fusce eget bibendum neque, vel volutpat augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
    </div>
  </div>
</section>
<section class="features text-center section-padding" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">"Some deep, meaningful words"</h1>
        <div class="features-wrapper">
          <div class="col-md-4 wp2">
            <div class="icon">
              <i class="fa fa-laptop shadow"></i>
            </div>
            <h2>Fast</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus.</p>
          </div>
          <div class="col-md-4 wp2 delay-05s">
            <div class="icon">
              <i class="fa fa-code shadow"></i>
            </div>
            <h2>Secure</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus.</p>
          </div>
          <div class="col-md-4 wp2 delay-1s">
            <div class="icon">
              <i class="fa fa-heart shadow"></i>
            </div>
            <h2>Free</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum
            primis in faucibus.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="portfolio text-center section-padding" id="portfolio">
  <div class="container">
    <div class="row">
      <div id="portfolioSlider">
        <ul class="slides">
          <li>
            <div class="col-md-4 wp4">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img src="img/portfolio-01.jpg" alt="Portfolio Item">
                  <div class="overlay">
                    <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                    <a class="close-overlay hidden">x</a>
                  </div>
                </div>
              </div>
              <h2>Presentations</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
            </div>
            <div class="col-md-4 wp4 delay-05s">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img src="img/portfolio-02.jpg" alt="Portfolio Item">
                  <div class="overlay">
                    <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                    <a class="close-overlay hidden">jhkljlj</a>
                  </div>
                </div>
              </div>
              <h2>Polls</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
            </div>
            <div class="col-md-4 wp4 delay-1s">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img src="img/portfolio-03.jpg" alt="Portfolio Item">
                  <div class="overlay">
                    <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                    <a class="close-overlay hidden">x</a>
                  </div>
                </div>
              </div>
              <h2>Results</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
            </div>
          </li>
          <li>
            <div class="col-md-4 wp4">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img src="img/portfolio-01.jpg" alt="Portfolio Item">
                  <div class="overlay">
                    <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                    <a class="close-overlay hidden">x</a>
                  </div>
                </div>
              </div>
              <h2>Data tracking</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
            </div>
            <div class="col-md-4 wp4 delay-05s">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img src="img/portfolio-02.jpg" alt="Portfolio Item">
                  <div class="overlay">
                    <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                    <a class="close-overlay hidden">x</a>
                  </div>
                </div>
              </div>
              <h2>Upload</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
            </div>
            <div class="col-md-4 wp4 delay-1s">
              <div class="overlay-effect effects clearfix">
                <div class="img">
                  <img src="img/portfolio-03.jpg" alt="Portfolio Item">
                  <div class="overlay">
                    <a href="#" class="expand"><i class="fa fa-search"></i><br>View More</a>
                    <a class="close-overlay hidden">x</a>
                  </div>
                </div>
              </div>
              <h2>Anonymous</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<div class="ignite-cta text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="ignite-btn">I BELIEVE I CAN FLY</a>
      </div>
    </div>
  </div>
</div>
<section class="team text-center section-padding" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Meet the team</h1>
      </div>
    </div>
    <div class="row">
      <div class="team-wrapper">
        <div id="teamSlider">
          <ul class="slides">
            <li>
              <div class="col-md-4 wp5">
                <img src="img/placeholder-md.png" alt="Team Member">
                <h2>Dave Hyatt</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 wp5 delay-05s">
                <img src="img/placeholder-md.png" alt="Team Member">
                <h2>Natasha Angelica</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 wp5 delay-1s">
                <img src="img/placeholder-md.png" alt="Team Member">
                <h2>Ting Chang</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p>
                <div class="social">
                  <ul class="social-buttons">
                    <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="subscribe text-center">
  <div class="container">
    <h1><i class="fa fa-paper-plane"></i><span>Presentation URL:</span></h1>
    <form action="#">
      <input type="text" name="" value="" placeholder="" required>
      <input type="submit" name="" value="GO!">
    </form>
  </div>
</section>
<section class="dark-bg text-center section-padding contact-wrap" id="contact">
  <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Drop us a line</h1>
      </div>
    </div>
    <div class="row contact-details">
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
          <p>128 West Hastings, Vancouver BC</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
          <p>+666 666 666</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
          <p><a href="#">contact@ballotbox.com</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="social-buttons">
          <li><a href="#" class="social-btn"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
