<!-- Ting: experiment -->

<script src="javascript/chart_js/Chart.js"></script>

<%= include_gon %>

<canvas id="myChart" width="400" height="400"></canvas>
<div id="legend"></div>

<script src="javascript/test_pie.js"></script>

